extends layout

block content
  .jumbotron.p-4.p-md-5.text-white.rounded
    .col-md-6.px-0
      h4.display-4.font-bold Smart Contract Modelling for Signavio Process Manager
      p.lead.my-3
        | Decentralized  business  process  execution  (decentralized  BPX)  receives  increasing interest in academia and industry. For example, decentralized BPX isexpected to facilitate efficient supply chain management. In the context ofdecentralized  BPX,blockchaintechnologies  are  frequently  suggested  as  feasi-ble solutions and employed in early prototypes to execute business processes assmart contracts(or:chain code). The  decentralized  nature  of  smart  contracts  aggravates  problemsin regards to the inflexibility of cross-organizational business processes; it is ofutmost importance that a smart contract works according to the agreed-uponbusiness requirements. Consequently, it makes sense to design software tools thatallow for the test-driven specification of smart contracts through a business user-and business process-oriented interface; this ensures that in enterprise scenarios,smart contracts, when deployed in production environments, indeed fulfill therequirements as stipulated by business stakeholders.This thesis aims at developing a tool chain for test-driven, process-orientedsmart  contract  design.
      //- a.text-white.font-weight-bold(href='#') Continue reading...
